.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #333;
  color: white;
}

.logo {
  flex: 1;
}

.logoImage {
  cursor: pointer;
  width: 200px;
  height: 50px;
  transition: opacity 0.3s;
}

.nav {
  display: flex;
  gap: 20px;
}

.link {
  text-decoration: none;
  color: inherit;
  transition: border-bottom 0.3s;
}

.link:hover {
  border-bottom: 2px solid;
}

.active {
  border-bottom: 2px solid;
}

.hoverLogo {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  transition: opacity 0.3s;
  background-color: #333;
}

@media (max-width: 768px) {
  .container {
    display: none;
  }
}
