.container {
    background-color: #333;
    padding: 33px;
    justify-content:space-between;
    align-items: center;
    width: 100%;
    position: relative;
    text-align: center;
    padding: 90px 30px;
}

.button {
    background-color: white;
    border-radius: 5px;
    color: black;
    padding: 10px 10px;
    outline: 3px white;
}

.button:hover {
    background-color: #333;
    color: white;
    text-decoration: underline;
    outline: 3px white;
}

.text {
    font-size: 20px ;
    text-align: center;
    padding: 30px;
}
