.container {
    background-color: white;
    height: 40%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    left: 0;

}

.text {
    color:white;
    font-size: 60px ;
    text-align: center;
    padding: 120px 30px;
}
