.header {
    width: 100%;
  }
  
  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    padding: 33px;
    color: white;
  }
  
  .link {
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
  }
  
  .link:hover {
    background-color: #555;
    font-weight: 500;
  }
  
  .megaMenu {
    display: none; /* Hide the MegaMenu by default */
    background-color: #333;
    padding: 33px;
    color: white;
  }
  
  @media (max-width: 768px) {
    .nav {
      display: none;
    }
  
    .megaMenu {
      display: block; /* Show the MegaMenu on smaller screens */
    }
  }
  