.container {
    background-color: #333;
    padding: 33px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;

  }
  
  .nav {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    text-align: center;
  }
  

  .link {
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
   
  }
  
  .link:hover {
    background-color: #555;
    font-weight: 500;
  }

  .linkActive {
    text-decoration: underline;
  }

  .menu {
    display: flex;
    gap: 1rem;
  }
  
  .menu-button {
    cursor: pointer;
    display: none; 
  }

  @media (max-width: 1100px) {
    .link {
      display: none;
    }
  }
  

  @media (max-width: 600px) {
    .link {
      display: block;
    }
  }

  @media (max-width: 600px) {
    .menu {
      display: none; 
    }
  
    .menu-button {
      display: block;
    }
  }  