.container {
    padding: 33px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
    overflow: hidden;
    animation: scroll 40s linear infinite;
    gap: 30px;
}

@keyframes scroll {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.text {
    justify-content: space-between;
}

